<section>
  <hero
    {% if section.settings.image != blank %}
      image="{{section.settings.image | img_url: '1440x' }}"
    {% endif %}

    {%- if section.settings.mobile_image != blank -%}
      mobile-image="{{ section.settings.mobile_image | img_url: '720x' }}"
    {%- endif -%}

    {%- if section.settings.color_picker != blank -%}
      title-color="{{section.settings.color_picker}}"
    {%- endif -%}

    text-alignment="{{section.settings.text_alignment}}"
    title="{{section.settings.title}}"
    
    {%- if section.settings.copy -%}
      copy="{{section.settings.copy}}"
    {%- endif -%}

    {%- if section.settings.cta_text -%}
      cta-text="{{section.settings.cta_text}}"
    {%- endif -%}
    
    {%- if section.settings.cta_url -%}
      cta-url="{{section.settings.cta_url}}"
    {%- endif -%}
  ></hero>
</section>

{% schema %}
  {
    "name": "Hero",
    "class": "hero-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Mobile Image"
      },
      {
        "type": "color",
        "id": "color_picker",
        "label": "Color Picker"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text Alignment",
        "default": "algin-center",
        "options": [
          { "value": "align-left", "label": "Left" },
          { "value": "align-right", "label": "Right" },
          { "value": "algin-center", "label": "Center" }
        ]
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Hero Title"
      },
      {
        "type": "textarea",
        "id": "copy",
        "label": "Copy"
      },
      {
        "type": "text",
        "id": "cta_text",
        "label": "CTA Text"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "CTA URL"
      }
    ],
    "presets": [{
      "name": "Hero Component",
      "category": "HomePage"
    }]
  }
{% endschema %}