.hero {
  height: 640px;
  width: 100%;
  padding: 0 41px 0 42px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include tablet-up {
    height: 500px;
    padding: 0 137px 0 78px;

    &.align-left {
      justify-content: flex-start;
    }

    &.align-right {
      justify-content: flex-end;
    }
  }

  &__container {
    text-align: center;

    @include tablet-up {
      width: 780px;

      &.align-left,
      &.align-right {
        text-align: left;
        width: 584px;
      }
    }
  }

  &__title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    margin: 0;

    @include tablet-up {
      font-size: 46px;
      line-height: 60px;
    }
  }

  &__copy {
    color: #FFF;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    margin: 0;

    @include tablet-up {
      font-size: 24px;
    }
  }

  &__cta {
    color: #FFFFFF;
    background: #57AD68;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 20px;
    padding: 17px 51.5px 14px 51.5px;
    border-radius: 100px;
    margin-top: 39px;
    display: inline-block;

    &:hover {
      color: #57AD68;
      background: #FFFFFF;
    }
  }
}